<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Image Retrieval</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Đầu vào:</h1>
            <form enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    
                    <div class="form-group row">
                        <label for="example-number-input" class="col-2 col-form-label">Chọn file ảnh query</label>
                        <div class="col-10">
                            <div class="custom-file">
                                <label class="custom-file-label" for="customFile">Choose file</label>
                                <input class="custom-file-input" id="listFiles" type='file' name='files' required />
                            </div>                        
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-number-input" class="col-2 col-form-label">SL kết quả trả về</label>
                        <div class="col-10">
                          <input class="form-control" type="number" name="SL" value="10" id="example-number-input" min="1">
                        </div>
                    </div>

                    <div >
                        <input class="btn btn-primary btn-lg" type='submit'value='Submit' id="submit"/> 
                    </div>
                    <p></p>
                    
                </div>
                       
            </form>
        </div>
        
        <div id="kq" >
            <h2>Kết quả:</h2>
            {% for result in results %}
            <table border="0">
                <tr height = "20" >
                    <th colspan="4"></th>
                </tr>
                <tr>
                    <th rowspan="2" width="70"></th>
                    <th rowspan="2">
                        <a href="http://retrival.epizy.com/dataset/oxbuild_images/{{result.name}}" target="_blank">
                            <img src="http://retrival.epizy.com/dataset/oxbuild_images/{{result.name}}" height="112" width="202" >
                        </a>     
                    </th>
                    <th rowspan="2" width="40"></th>
                    <th>
                        <h3> <a href="http://retrival.epizy.com/dataset/oxbuild_images/{{result.name}}" target="_blank"> {{result.name}} </a> </h3>
                    </th>
                </tr>

                <tr>
                    <th>
                        <p>Độ liên quan: {{result.relevant}}</p>
                    </th>
                </tr>

                
            </table>
            {% endfor %}
        </div>

        <p> </p>


    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script>
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function() {
          var fileName = $(this).val().split("\\").pop();
          $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
</body>
</html>